<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Gets bootstrap header file -->
    <%- include("./partials/header.ejs") %>

    <title>Signin</title>
    <style>
        /*Small devices like phones  */
        @media (min-width: 300px) and (max-width: 768px) {

            #img {
                width: 90%;
                height: 100px;
                margin-left: 10%;
                margin-bottom: 5%;

            }
        }


        /* Medium devices (tablets, less than 992px) */
        @media (min-width: 769px) and (max-width: 991.98px) {
            #img {
                width: 90%;
                height: 100px;
                margin-left: 10%;
                margin-bottom: 5%;

            }
        }

        /* Large devices like laptops */
        @media (min-width:992px) {

            #img {
                width: 100%;
                height: 100px;
                margin-bottom: 5%;
            }

            #tab1 {
                width: 100%;
                table-layout: fixed;
            }

            #tab2 {
                width: 100%;
                table-layout: inherit;
            }
        }
    </style>
</head>

<body>

    <%- include("./partials/nav.ejs", {page: "home", user, classify}) %>



    <img alt="Image result for uco logo&quot;" id="img" src="https://sethh-wsp20.firebaseapp.com/images/enroll.png" />


    <% if(error) { %>

    <div align="center">
        <p style="color:red; "> <%= error %></p>

    </div>
    <% }  %>


    <form action="/termProgram" method="POST">

        <table id="tab1">
            <tr>
                <td>
                    <div class="dropdown">
                        <select class="form-control" name="semester" id="semester">
                            <option value="Select">Pick A Term</option>

                            <% semest.forEach((doc) => { %>

                            <option value="<%= doc.data().name %>"><%= doc.data().name %></option>


                            <% }) %>
                        </select>

                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <select class="form-control" name="program" id="program" onchange="this.form.submit()">
                            <option value="Select">Select A Program</option>

                            <option value="ACCT">Accounting</option>
                            <option value="BADM">Business Admin</option>
                            <option value="CMCS">Computer Science</option>
                            <option value="FRSC">Forensics</option>
                            <option value="SE">Software Engineering</option>



                        </select>

                    </div>
                </td>
            </tr>

        </table>
    </form>

    <table id="tab2">
        <thead>
            <th>Name</th>
            <th>Course ID</th>
            <th>CRN</th>
            <th style="white-space: nowrap;">Department</th>
            <th>Days</th>
            <th style="white-space: nowrap;">Room</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Time</th>
            <th>Professor</th>
            <!-- <th style="white-space: nowrap;">Send Email</th> -->
        </thead>
        <tbody>


            <% data.forEach(val => {%>




            <form class="form-signin" action="/addToStudent" method="POST">

                <tr>
                    <td>
                        <%= val.name %>
                        <input type="hidden" class="form-control" value="<%= val.name %>" id="name" name="name"
                            readonly>
                    </td>
                    <td>
                        <%= val.id %>
                        <input type="hidden" class="form-control" value="<%= val.id %>" id="id" name="id" readonly>
                    </td>
                    <td>
                        <%= val.crn %>
                        <input type="hidden" class="form-control" value="<%= val.crn %>" id="crn" name="crn" readonly>
                    </td>
                    <td>
                        <%= val.depart %>
                        <input type="hidden" class="form-control" value="<%= val.depart %>" id="depart" name="depart"
                            readonly>
                    </td>
                    <td>
                        <%= val.days %>
                        <input type="hidden" class="form-control" value="<%= val.days %>" id="days" name="days"
                            readonly>
                    </td>
                    <td>
                        <%= val.classRoom %>
                        <input type="hidden" class="form-control" value="<%= val.classRoom %>" id="classRoom"
                            name="classRoom" readonly>
                    </td>
                    <td>
                        <%= val.classStart %>
                        <input type="hidden" class="form-control" value="<%= val.classStart %>" id="classStart"
                            name="classStart" readonly>
                    </td>
                    <td>
                        <%= val.classEnd %>
                        <input type="hidden" class="form-control" value="<%= val.classEnd %>" id="classEnd"
                            name="classEnd" readonly>
                    </td>
                    <td>
                        <%= val.startTime%> - <%= val.endTime %>
                        <input type="hidden" class="form-control" value="<%= val.startTime %>" id="startTime"
                            name="startTime" readonly>
                        <input type="hidden" class="form-control" value="<%= val.endTime %>" id="endTime" name="endTime"
                            readonly>
                    </td>
                    <td>
                        <%= val.prof %>
                        <input type="hidden" class="form-control" value="<%= val.prof %>" id="prof" name="prof"
                            readonly>
                    </td>
                    <% if(classify ==="stud") { %>
                    <td>
                        <button type="submit" id="button2" class="btn btn-success" target="_blank">Add</button>

                    </td>
                    <% } %>
                    <td id="itemname">

                        <input type="hidden" class="form-control" value="" id="item" name="delName" readonly>
                        <input type="hidden" class="form-control" value="" id="item" name="delObject" readonly>
                    </td>



                </tr>
            </form>





            <%   }) %>



        </tbody>
    </table>


    <!-- Gets bootstrap footer file -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>