<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Gets bootstrap header file -->
    <%- include("./partials/header.ejs") %>

    <title>Signin</title>
    <style>
        /*Small devices like phones  */
        @media (min-width: 300px) and (max-width: 768px) {

            #img {
                width: 90%;
                height: 100px;
                margin-left: 10%;
                margin-bottom: 5%;

            }
        }


        /* Medium devices (tablets, less than 992px) */
        @media (min-width: 769px) and (max-width: 991.98px) {
            #img {
                width: 90%;
                height: 100px;
                margin-left: 10%;
                margin-bottom: 5%;

            }
        }

        /* Large devices like laptops */
        @media (min-width:992px) {

            #img {
                width: 100%;
                height: 100px;
                margin-bottom: 5%;
            }
            #tab1 {
                width: 100%;
                table-layout: fixed;
            }
        }
    </style>
</head>

<body>

    <%- include("./partials/nav.ejs", {page: "home", user, classify}) %>



    <img alt="Image result for uco logo&quot;" id="img" src="http://localhost:5000/images/enroll.png" />


    <% if(error) { %>

    <div align="center">
        <p style="color:red; "> <%= error %></p>

    </div>
    <% }  %>


    <form action="/termProgram" method="POST">

    <table id="tab1"> 
        <tr>
            <td >
                <div class="dropdown">
                    <select class="form-control" name="semester" id="semester">
                        <option value="Select">Pick A Term</option>

                        <% semest.forEach((doc) => { %>

                        <option value="<%= doc.data().name %>"><%= doc.data().name %></option>


                        <% }) %>
                    </select>

                </div>
            </td>
            <td>
                <div class="dropdown">
                    <select class="form-control" name="program" id="program" onchange="this.form.submit()">
                        <option value="Select">Select A Program</option> 

                        <option value="ACCT">Accounting</option>
                        <option value="BADM">Business Admin</option>
                        <option value="CMSC">Computer Science</option>
                        <option value="FRSC">Forensics</option>
                        <option value="SE">Software Engineering</option>


                        
                    </select>

                </div>
            </td>
        </tr>

    </table>
</form>


    <!-- Gets bootstrap footer file -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>